*{
  font-family: "Helvetica", sans-serif;
}



.frontTitle{
  background-color: #0097b2;
  justify-content: center;
  padding: 1rem;
  font-size: 50px;
  align-items: center;
  display: flex;
  color: white;
}

.navbar {
  background-color: #0097b2;
  justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-content: center;
}

.infoConatiner {
  background-color: aliceblue;
  padding: 3rem;
  border-radius: 10px;
  gap: 1rem;
  display: grid;
  align-items: center;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;
}


.button {

  background-color: #0097b2;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  color: white;
}




.title {
  font-weight: bold; /* Hace que el texto sea negrita */
  font-size: 25px;
  padding-bottom: 1rem;
  display: grid;
  justify-content: space-around;
}


.title2 {
  font-size: 16px;
  padding-bottom: 1rem;
  display: flex;
  margin-top: 1rem;
  text-align: justify;
}
